<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<mappers>
		<mapper resource="mybatis/NewsMapper.xml" />
		<mapper resource="mybatis/VideoMapper.xml" />
		<mapper resource="mybatis/CodeTypeMapper.xml" />
		<mapper resource="mybatis/SpecialColumnMapper.xml" />
		<mapper resource="mybatis/SpecialTopicMapper.xml" />
		<mapper resource="mybatis/SpecialSubsetMapper.xml" />
		<mapper resource="mybatis/SpecialChannelMapper.xml" />
		<mapper resource="mybatis/MeetingMapper.xml" />
	</mappers>

</configuration>
